<main>
  <div class="header-text">
    <h1 class="title">
      Understand Filipino and communicate across languages of the Philippines
    </h1>
    <div style="display: flex; justify-content: center; gap: 3rem">
      <button mat-flat-button routerLink="/Translate">Translate</button>
      <button mat-flat-button routerLink="/Dictionary">Dictionary</button>
    </div>
  </div>
  <div class="hero">
    <img
      src="../../assets/573.jpg"
      alt=""
      srcset=""
      width="700px"
    />
  </div>
</main>
